@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: lightgray;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

header {
    display: inline-flex;
    background: #000;
	position: fixed;
    width: 100%;
    top: 0;
}

header .logo {
    display: inline-flex;
    align-items: center;
    width: 50%;
    padding: 2vh 2vw;
    margin: auto 4vw;
}

header .logo .imgLogo {
    margin-right: 20px;
    height: 40px;
    width: auto;
}

header a {
    text-decoration: none;
    background-color: transparent;
    color: #5C103C;
}

header nav {
    width: 50%;
    margin: auto 4vw;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
  
header nav ul li a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 10px;
    font: 400 20px Roboto, sans-serif;
    color: #fff
}

header nav ul li a:hover {
    border-bottom: 5px solid #4CAF50;
    color: #4CAF50;
}
  
header nav ul li a.active {
    background-color: #4CAF50;
    color: #fff;
    border: none;
}

main {
    margin-top: 12vh;
}

main section {
    margin-bottom: 6vh;
}

main h2 {
    color: #5C103C;
}

main .section-news .news-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 5vh 5vw;
    flex-direction: row;
    flex-wrap: wrap;
}

main .section-news .news-list article {
    width: 840px;
    margin-bottom: 4vh;
}

main .section-news .news-list .img-article {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
}

main .section-videos .video-list {
    margin: 6vh 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

main .section-audios .audio-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
}

main .section-audios .audio-list .audio {
    margin-top: 3vh;
}

footer {
    background: #000;
    width: 100%;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
}

footer .footer-first-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

footer .footer-first-row h4 {
    top: 0;
}

footer .footer-first-row ul {
    list-style-type: none;
    margin: auto 4vw;
}

footer .footer-first-row a {
    text-decoration: none;
    color: #fff;
    font: 400 10px Roboto, sans-serif;
}


footer .footer-first-row .footer-institutional {
    text-align: center;
    width: 50%;
    padding: 20px 10px;
}

footer .footer-first-row .footer-social-media {
    text-align: center;
    width: 50%;
    padding: 20px 10px;
}

footer .footer-first-row .footer-social-media .icons {
    display: inline-flex;
}

footer .footer-first-row .footer-social-media .icons img {
    margin: 10px 10px;
}

footer .footer-second-row {
    text-align: center;
    color: #5C103C;
    line-height: 20px;
}

@media screen and (max-width: 1024px) {
    header {
        display: block;
    }
    
    header .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 -8px;
    }
    
    header nav {
        font: 400 16px Roboto, sans-serif;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
    }

    main {
        margin-top: 18vh;
    }
}